<h1 style="text-align: center;">Welcome <%= @user.username %>!</h1>

<p>You can see your profile <a href="http://localhost:3000/users/<%= @user.id %>">here</a></p>

<p>Let us know if you have any questions!</p>

<img src="https://www.gifcen.com/wp-content/uploads/2022/04/racoon-gif-6.gif" alt="welcoming raccoon gif">
