<h1>Password Reset Request</h1>

<p>A request has been made to reset your password. You can reset your password <a href="http://localhost:3000/users/<%= @user.id %>/reset_password/<%= @user.password_reset_token %>">here</a></p>

<p>If you believe this request has been made in error, feel free to panic.</p>
